.container {
  margin: 3rem 0px 0px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 322px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  position: relative;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  height: 220px;
  width: 280px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  height: 25px;
  padding: 10px;
  background-color: #69ade7;
  color: white;
  font-size: 15px;
}

.main {

  display: flex;
  align-items: center;
  text-align: center;
  height: 175px;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
}

.span {
  padding: 10px 20px;
  text-align: center;
}

.swiper {
  width: 100%;
}
.swiperNavPrev, .swiperNavNext{
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 40%;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.swiperNavPrev {
  left: 0;
  background-image: url(../../assets/icons/left-arrow.svg);
}
.swiperNavNext {
  right: 0;
  background-image: url(../../assets/icons/right-arrow.svg);
}
