.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  margin-left: 0 !important;
}

.ant-collapse-icon-position-end > .ant-collapse-item > .ant-collapse-header {
  justify-content: center;
  padding-left: 40px !important;
}

.ant-collapse {
  background-color: #F6F6FC !important;
}

