.container {
  margin: 3rem 20px 0px 0px !important;
  width: 322px !important;
  position: relative;
  h3{
    margin: 0;
    color: white;
  }
}
.add {
  display: flex;
  position: relative;
  padding: 12px 2px 12px 16px;
  align-items: center;
  justify-content: center;
  background-color: #69ade7;
  border-radius: 4px;
  border-bottom: 3px solid #030852;
  &__btn {
    position: absolute;
    background-color: inherit;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    top: 25px;
    right: 2px;
    left: auto;
    transform: translateY(-50%);
  }
}
.panel {
  background-color: #69ade7;
  border-radius: 4px !important;
  border: none;
}

.img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 7px;
  border-radius: 50%;
}

.deletePet {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

  svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;

    path {
      fill: #faad14;
    }
  }
}
