.container {
  margin: 3rem 20px 0px 0px !important;
  width: 322px !important;
}

.panel {
  background-color: #69ade7;
  border-radius: 4px !important;
  border: none;
}

.img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 7px;
  border-radius: 50%;
}