@import "~normalize.css";
@import "../assets/fonts/helvetica-neue/helvetica-neue.css";

$textcolor: #3F3F3F;

body {
  font: normal 14px/1.5 "Helvetica Neue", sans-serif;
  height: 100%;
}

#root {
  min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #F6F6FC;
  color: $textcolor;
	a{
		color:$textcolor
	}
}

.container {
  width: 85%;
  margin: 0 auto;
}

.inner-wrapper {
  width: 90%;
  margin: 0 auto;

}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
	flex: 1 1 auto;
}

button {
  cursor: pointer;
}


