.wrapper{
    .menu{
        .menu__item{
            list-style: none;
            width: 120px;
            height: 50px;
            background-color: #616bc9;
            .link{
                color: white;
            }
            
        }
    }
    .content{

    }
}